@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap');

main {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #6C757D;
	max-width: 1240px;
}
.purpose {
	max-width: 816px;
	margin: 0 auto 50px;
}
.purpose__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
	max-width: 400px;
	margin-bottom: 25px;
}
.purpose__text {
}
p {
	margin-bottom: 25px;
}
.purpose__image {
	padding: 0 100px;
	margin-bottom: 80px;
}
img {
	max-width: 100%;
}
.failures {
	max-width: 816px;
	margin: 0 auto;
}
.failures__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
	margin-bottom: 40px;
	max-width: 605px;
}
.failures__text {
	margin-bottom: 80px;
}
.failures__image {
	padding: 0 100px;
}
.image-first {
}